$primaryBg: #332642;
$secondaryBg: #433558;
$third: #9062cc;
$hoverClr: #7c4fb6;
$supportClr: #4d3370;

@mixin defaultBtn {
  background-color: $third;
  color: white;
  width: 70px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  border: 1.5px solid black;

  &:hover {
    @include defHover();
  }
}
@mixin defHover {
  background-color: $hoverClr;
  transform: translateY(-4px);
  transition: 0.2s ease;
}
.demo {
  @include defaultBtn();
}
#root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primaryBg;
  text-align: center;
  color: white;
  height: auto;
}
.sidebar {
  width: 250px;
  background: $secondaryBg;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  & a {
    text-decoration: none;
    color: white;
    background-color: $third;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    &:hover {
      transition: 0.2s ease;
      background-color: $hoverClr;
    }
  }
}
.card {
  background: $secondaryBg;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: 400px;
  width: 200px;
  align-items: center;
  justify-content: center;
  &:hover {
    @include defHover();
  }
}
.topbar {
  background-color: $supportClr;
}

.userCard {
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  background-color: $supportClr;
}
.searchBar {
  position: sticky;
  background-color: $third;
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 40px;
  &:hover {
    background-color: $hoverClr;
    transition: 0.2s ease;
  }
}
