$primaryBg: #332642;
$secondaryBg: #433558;
$third: #9062cc;
$hoverClr: #7c4fb6;
$supportClr: #4d3370;
$active: #c6ace7;

#root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primaryBg;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin topbar {
  background-color: $supportClr;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

@mixin searchBar {
  background-color: $third;
  border: none;
  border-radius: 8px;
  width: 350px;
  height: 36px;
  padding: 8px 12px;
  margin-right: 30px;
  font-size: 0.9rem;
  color: white;
  &:hover {
    background-color: $hoverClr;
    transition: 0.2s ease;
  }
  &::placeholder {
    color: white;
  }
}

.layout {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
}
.sidebar {
  width: 240px;
  background: $secondaryBg;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

  & li {
    text-decoration: none;
    color: white;
    padding: 12px 12px;
    background: $third;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: 0.2s ease;
    list-style-type: none;
    align-items: center;

    &:link {
      text-decoration: none;
    }

    &.active {
      background-color: $active;
    }

    &:hover {
      background: $hoverClr;
      transform: translateY(-3px);
    }
  }
}

.userCard {
  background: $supportClr;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  width: 50px;
}

main {
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

@mixin card {
  background: $secondaryBg;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  transition: 0.2s ease;

  &:hover {
    background-color: $hoverClr;
    transform: translateY(-4px);
  }

  &.cardMain {
    grid-column: span 2;
    height: 280px;
  }

  &.card {
    height: 250px;
  }

  &.cardWide {
    grid-column: span 3;
    height: 150px;
  }
  &.outputCard {
    background: $supportClr;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    text-align: center;
  }
}
